.account-content {
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.account-bottom {
    padding: 0px 30px 0px 0px;
}

.m-checkall-arrow {
    padding: 10px 12px 0px 0px;
}

.btn-setting {
    margin-left: 6px;
    margin-right: 6px;
}

.account-top {
    padding: 24px 30px 11px 0px;
}

.guide-tour {
    margin-right: 12px;
}

.guide-tour-label {
    padding: 0px 0px 0px 5px;
    color: var(--info-color);
}

.guide-tour-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.account-bottom .content-bottom {
    height: calc(100vh - 135px);
}