/*Phần chung dành cho các page trong admin*/

.content .content-top-container {
    padding: 20px;
}

.content .content-top {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
}

.content .content-top .page-title {
    font-size: 24px;
    font-family: Notosans-Bold;
    color: #111;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content .content-bottom {
    width: 100%;
    background-color: inherit;
    box-sizing: border-box;
    height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    overflow: unset;
    overflow: scroll;
}


/* .content-bottom:hover {
    overflow: scroll;
} */

.filter-area {
    padding: 16px;
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
}


/*==Button refresh==*/

.btn-refresh {
    margin: 0px 6px 0px 12px;
}

.m-refresh.btn-refresh:hover {
    background-position: -1095px -88px;
}


/*== Button Export ==*/

.m-excel__nav.btn-export:hover {
    background-position: -704px -255px;
}

.btn-export {
    margin: 0px 6px;
}


/*Content-Filter - Vùng chứa các component filter dữ liệu*/

.content-filter {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}


/*Content-Grid - Vùng chứa bảng dữ liệu và paging*/

.content-grid {
    width: 100%;
    height: fit-content;
    /* height: calc(100% - 34px); */
    /* background-color: red; */
}


/* Button Xóa nhiều */

.dropdown-button {
    position: absolute;
    top: 55px;
    left: 98px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    width: 85px;
}

.nocontent-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    width: 100%;
}